<!DOCTYPE html>
<html>
<head>
  <title>Share</title>
  <%= stylesheet_link_tag    "share/application", media: "all" %>
  <%= javascript_include_tag "share/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
