<html>
<head>
	<title>All My Links</title> </head>
	<%= link_to 'Logout', url_for(:controller => 'sessions', :action => 'logout') %>
	<body>
		<h1>All My Links</h1> 
		<ul>
			<% for link in @links %>
				<li>
					<a href="/links/<%= link.id %>"><%= link.title %></a>
				</li> 
			<% end %>
		</ul>
		<%= link_to 'Add New Link', url_for(:controller => 'links', :action => 'new') %>
	</body>
</html>